.container{

  height: 550px;
  width: 100%;
  border: 2px solid black;
  /* initialize the container */
  display: flex;
  /* propertires for flex container */
  flex-direction: row;
  flex-direction: wrap;

}

.item{
  height: 200px;
  width: 200px;
  color: tomato;
  background-color: yellow;
  border: 2px solid blue;
  margin: 10px;
  padding: 3px;
  
}